@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@keyframes turn {
  0% {
    transform: translateZ(-100px) rotateY(0deg);
  }
  100% {
    transform: translateZ(-100px) rotateY(-360deg);
  }
}



.scene {
  width: 200px;
  height: 200px;
  perspective: 400px;
  padding: 5%;
  transform: scale(.9);
  transition: transform 1s
}
.scene:hover{
  transform:scale(1.2);
  z-index:2;
}


.block {
  max-width: 900px;
  width: 80%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  color:#000;
  display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.block b{
  background-color:#FFC65D;
  font-weight:normal;
}
.block img {
  max-height: 50vh;
  width: 200px;
  padding: 5%;
  transform:scale(.9);
  transition: transform 1s
}
.block img:hover{
  transform:scale(1.5);
    z-index:2;
}

.block section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
      margin-bottom: 15vh;
    margin-top: 15vh;
  order:1
}
.block p{
  order:2
}
.block ul{
  order:4
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube.show-front {
  animation: turn 5s infinite linear
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  line-height: 200px;
  font-size: 24px;
  font-family:'IBM Plex Mono';
  font-weight: bold;
  color: #000;
  background-color:#fff;
  text-align: center;
}

.cube__face--front {
  transform: rotateY( 0deg) translateZ(100px);
  transition: transform 1s;
  transform-origin: bottom center 0;
}
.scene:hover .cube__face--front{
 transform: rotateY( 0deg) rotateX( -45deg) translateZ(70px) translateY(-70px);
}

.cube__face--right {
  transform: rotateY( 90deg) translateZ(100px);
  transition: transform 1s;
  transform-origin: bottom center 0;
}
.scene:hover .cube__face--right{
  transform: rotateY( 90deg) rotateX( -45deg) translateZ(70px) translateY(-70px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(100px);
    transition: transform 1s;
  transform-origin: bottom center 0;
}
.scene:hover .cube__face--back{
  transform: rotateY(180.1deg) rotateX(-45deg) translateZ(70px) translateY(-70px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(100px);
    transition: transform 1s;
  transform-origin: bottom center 0;
}
.scene:hover .cube__face--left{
  transform: rotateY( -90deg) rotateX( -45deg) translateZ(70px) translateY(-70px);
}
.cube__face--top {
    width:199px;
  transform-origin:center;
  transform: rotateX( 0deg) translateX(1px) translateZ(0px);
  background-color:#EF2D5E;
  color:white;
  border:0;
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
    background-color:#FFC65D;
}

li {
  list-style-type: none;
  font-size: 24px;
  margin-bottom: 5px;
}

ul li:first-child {
/*   margin-bottom: 20px; */
}

.block ul {
  width: 100%;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  padding-bottom: 80px;
}

.loader {
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: flex-start;
  -webkit-overflow-scrolling: touch;
  flex-direction:row;

  /* Lets it scroll lazy */
}

#switcher {
  opacity: 0.2;
  pointer-events: none;
}

.back b {
  opacity: 1;
}

input {
  width: calc(100vw - 140px)
}

h3 {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
  margin:0;
}

@media screen and (max-width: 600px) {
  .block section {
    flex-direction: column;
    order:2;
        margin-bottom: 0;
    margin-top: 0;
  }
  .block p:first-of-type{
    order:1
  }
  .block p{
    order:3;
  }
  li {
    font-size: 16px;
  }
  .scene:hover{
  transform:scale(0.9);
}
  .block img:hover {
  transform:scale(0.9);
}

  .cube__face--front{
 transform: rotateY( 0deg) rotateX( -45deg) translateZ(70px) translateY(-70px);
}
  .cube__face--right{
  transform: rotateY( 90deg) rotateX( -45deg) translateZ(70px) translateY(-70px);
}
  .cube__face--back{
  transform: rotateY(180.1deg) rotateX(-45deg) translateZ(70px) translateY(-70px);
}
  .cube__face--left{
  transform: rotateY( -90deg) rotateX( -45deg) translateZ(70px) translateY(-70px);
}
  
}